/* speech buubles */
/* css arrow generator: http://cssarrowplease.com/ */
/* other: http://ilikepixels.co.uk/drop/bubbler/ */
.speech-bubble {position: relative;background: #fff;border: 1px solid #abb3d1;margin-bottom:3px;padding:8px 10px 10px 10px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;margin-left:15px;box-shadow:0px 1px 2px rgba(0,0,0,0.3);}
.speech-bubble:after, .speech-bubble:before {right: 100%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;}
.speech-bubble:after {border-color: rgba(228, 239, 245, 0);border-right-color: #fff;border-width: 7px;top: 23px;margin-top: -13px;}
.speech-bubble:before {border-color: rgba(171, 179, 209, 0);border-right-color: #abb3d1;border-width: 8px;top: 23px;margin-top: -14px;}

.speech-bubble-right {position: relative;background: #fff;border: 1px solid #abb3d1;margin-bottom:3px;padding:8px 10px 10px 10px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;margin-right:15px;box-shadow:0px 1px 2px rgba(0,0,0,0.3);}
.speech-bubble-right:after, .speech-bubble-right:before {left: 100%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;	pointer-events: none;}
.speech-bubble-right:after {border-color: rgba(228, 239, 245, 0);border-left-color: #fff;border-width: 7px;top: 23px;margin-top: -13px;}
.speech-bubble-right:before {border-color: rgba(171, 179, 209, 0);border-left-color: #abb3d1;border-width: 8px;top: 23px;margin-top: -14px;}

.speech-bubble .form-actions {padding:10px 10px;margin:0px;border-radius:4px;}
.speech-comments {padding: 5px;background-color: #f1f1f1;margin: -4px 5px 3px 18px;border-radius: 5px;}



/** Sometimes you want elements other than input boxed to look like input boxes */
.input-box{border-radius:3px;background-color: #ffffff;border: 1px solid #cccccc;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;-moz-transition: border linear 0.2s, box-shadow linear 0.2s;-o-transition: border linear 0.2s, box-shadow linear 0.2s;transition: border linear 0.2s, box-shadow linear}

/**
 * Create stst boxes
 * ~~~
 * <div class="stat">
 *		<div class="stat-number text-info">£3,000</div>
 *		<div class="stat-text">VAT</div>
 * </div>
 * ~~~
 */
.stat {text-align: center;background-color: #F6F6F6;background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#F9F9F9), to(#EDEDED));background-image: -webkit-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);background-image: -moz-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);background-image: -ms-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);background-image: -o-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);background-image: linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);border: 1px solid #D5D5D5;border-radius: 4px 4px 4px 4px;box-shadow: 0 1px 0 0 white inset, 0 1px 0 rgba(255, 255, 255, 0.4);display: inline-block;line-height: 18px;padding:10px 15px;}
.stat .stat-number{letter-spacing:2px;margin-bottom:3px;font-weight:bold;text-shadow: 0 1px 0 white;font-size:26px;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif}

.nBrowserCheck {position: relative; top: 0; width: 100%; background-color: orange; display: none; padding: 10px; font-size: 14px; line-height: 20px;}
.nBrowserCheck a {text-decoration: underline; }
.nBrowserCheck .bcHide {position: absolute; top: 0; right: 7px; font-size: 20px; cursor: pointer;}