/* Example tokeninput style #2: nii style */
ul.token-input-list-nii {
    overflow: hidden;  
    cursor: text;
    font-family: arial, verdana, sans-serif;
    min-height: 1px;
    z-index: 999;
    padding: 0;
    list-style-type: none;
    clear: left;
	margin:0px 0px 0px 0px;
	display:inline-block;
}

ul.token-input-list-nii li input {
    border: 0;
    width: 100px;
    padding: 0px;
	margin:5px 5px 0px 0px;
    background-color: transparent;
    -webkit-appearance: caret;
}

.token-input-token-nii {
    overflow: hidden; 
    margin: 4px 5px 0px 0px;
    padding: 0px 3px;
    background-color: #eff2f7;
    color: #000;
    cursor: default;
    border: 1px solid #ccd5e4;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
    white-space: nowrap;
}

li.token-input-token-nii p {
    display: inline;
    padding: 0;
    margin: 0;
}

li.token-input-token-nii span {
    color: #a6b3cf;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

li.token-input-selected-token-nii {
    background-color: #5670a6;
    border: 1px solid #3b5998;
    color: #fff;
}

li.token-input-input-token-nii {
	float:left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div.token-input-dropdown-nii {
    position: absolute;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid rgba(82, 168, 236, 0.8);
    border-right: 1px solid rgba(82, 168, 236, 0.8);
    border-bottom: 1px solid rgba(82, 168, 236, 0.8);
    cursor: default;
    font-family: arial, verdana, sans-serif;
    z-index: 1002;
    -moz-border-radius: 0px 0px 3px 3px;-webkit-border-radius:0px 0px 3px 3px;border-radius:0px 0px 3px 3px;
	box-shadow: 0 4px 8px rgba(82, 168, 236, 0.6);
}

div.token-input-dropdown-nii p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #333;
}

div.token-input-dropdown-nii ul {
    margin: 2px 0px;
    padding: 0;
	max-height: 300px;
	overflow-y: auto;
}

div.token-input-dropdown-nii ul li {
    background-color: #fff;
    padding: 3px;
    margin: 0;
    list-style-type: none;
	color: #0069D6;
	border: 1px solid transparent;
	margin: 0 0 2px 0;
	-moz-border-radius:3px 3px;-webkit-border-radius:3px 3px;border-radius:3px 3px;
}

div.token-input-dropdown-nii ul li.token-input-dropdown-item-nii {
    background-color: #fff;
}

div.token-input-dropdown-nii ul li.token-input-dropdown-item2-nii {
    background-color: #fff;
}

div.token-input-dropdown-nii ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown-nii ul li.token-input-selected-dropdown-item-nii {
background-color:#0064cd;background-repeat:repeat-x;background-image:-khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));background-image:-moz-linear-gradient(top, #049cdb, #0064cd);background-image:-ms-linear-gradient(top, #049cdb, #0064cd);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));background-image:-webkit-linear-gradient(top, #049cdb, #0064cd);background-image:-o-linear-gradient(top, #049cdb, #0064cd);background-image:linear-gradient(top, #049cdb, #0064cd);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);border-color:#0064cd #0064cd #003f81;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
color: #fff;
}

div.token-input-dropdown-nii ul li.header {
	background-color:#F5F5F5;
	background-image:none;
	color:#333;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	font-size: 14px;
	padding: 6px 10px;
	font-weight: bold;
	text-shadow: none;
	-moz-border-radius:0px 0px;-webkit-border-radius:0px 0px;border-radius:0px 0px;
	margin-left: 0px; margin-right: 0px;
	font-family: "Helvetica";
}